<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Order History</title>
</head>
<body>
<div class="container">
    <nav th:replace="~{layout :: nav}"></nav>
    <main>
        <div class="user-list">
            <h1 class="title">Order History</h1>
            <form class="search-form column-form" method="get"
                  th:action="@{/order/index(sellerUsername = ${sellerUsername},
                  buyerUsername = ${buyerUsername})}">
                <select name="sellerUsername">
                    <option th:value="null">Select Seller...</option>
                    <option th:each="seller : ${sellerDropdownDTO}" th:value="${seller.value}"
                            th:text="${seller.text}"
                            th:selected="${seller.value == sellerUsername}"></option>
                </select>
                <select name="buyerUsername">
                    <option th:value="null">Select Buyer...</option>
                    <option th:each="buyer : ${buyerDropdownDTO}" th:value="${buyer.value}"
                            th:text="${buyer.text}"
                            th:selected="${buyer.value == buyerUsername}"></option>
                </select>
                <button type="submit">Search</button>
            </form>
            <div class="content">
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Seller</th>
                        <th>Buyer</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Shipper</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orderDataDTO}">
                        <td th:text="${order.orderDate}"></td>
                        <td th:text="${order.seller}"></td>
                        <td th:text="${order.buyer}"></td>
                        <td th:text="${order.product}"></td>
                        <td th:text="${order.quantity}"></td>
                        <td th:text="${order.shipper}"></td>
                        <td th:text="${#numbers.formatCurrency(order.price)}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <div th:text="|Page ${page} of ${totalPage}|"></div>
                    <div th:if="${totalPage != 0}">
                        <a th:each="currentPage : ${#numbers.sequence(1, totalPage)}"
                           th:text="${currentPage}"
                           th:href="@{/order/index(sellerUsername = ${sellerUsername},
                           buyerUsername = ${buyerUsername},
                           page = ${currentPage})}"></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{layout :: footer}"></footer>
</div>
</body>
</html>